{
    "trailingComma": "none",
    "semi": true,
    "singleQuote": false,
    "printWidth": 1024,
    "bracketSpacing": true,
    "useTabs": false,
    "arrowParens": "always",
    "endOfLine": "lf"
}
